{% extends "main_layout.html" %}

{% block title %}TV Shows {% endblock %}

{% block heading %}All Shows{% endblock %}
{% block content %}
<div class="row mb-3">
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th class="text-center">Action</th>
        </tr>
        {% for show in shows %}
        <tr>
            <td>{{show.id}}</td>
            <td>{{show.title}}</td>
            <td>{{show.network}}</td>
            <td>{{show.release_date}}</td>
            <td class="">
                <div class="row justify-content-center ">
                    <div class="col-auto">
                        <a href="{% url 'render_show_details' show_id=show.id %}" class="btn btn-success me-4">Show</a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'edit_show' show_id=show.id %}" class="btn btn-primary me-4">Edit</a>
                    </div>
                    <div class="col-auto">
                        <form action="{% url 'delete_show' show_id=show.id %}" method="post">
                            {% csrf_token %}
                            <input  class="btn btn-danger w-100" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="row mb-3">
    <div class="col-2 text-start p-0">
        <a href="{% url 'render_new_show_form' %}" class="btn btn-primary w-100">Add a New Show</a>
    </div>
</div>
{% endblock %}