{% extends "main_layout.html" %}
{%block title %} Showing {{author.first_name}} details {% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row mb-3">
        <div class="col mb-3">
            <h1 class="mb-5">{{author.first_name |capfirst}} {{author.last_name | capfirst}}</h1>
            <h5>ID: {{author.id}}</h5>
            <p><strong>Notes:</strong></p>
            <div class="col-6">
                <textarea class="form-control" readonly col="10" row="10">{{author.notes}}</textarea>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <h3>Books:</h3>
        <ul>
            {% for book in author.books.all %}
                <li>{{book.title}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row mb-3">
        <form action="{{author.id}}/add-author-book" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-5">
                    <select name="author_book" class="form-select">
                        <option selected>Select an Author to Add</option>
                        {% for book in books %}
                            <option value="{{book.id}}">{{book.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <input class="btn btn-primary" type="submit" value="Add Author">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}