{% extends 'main_layout.html' %}

{% block title %} Book Title {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-7">
            <div class="row mb-3">
                <div class="col-7">
                    <h1>Book title here</h1>
                </div>
            </div>
            <div class="row mb-3">
                <p>Added By: <span>Uploader Name Here</span></p>
                <p>Added on: <span>Sep 22, 2018 @ 1:11 am</span></p>
                <p>Last Updated on: <span>Sep 22, 2018 @ 1:11 am</span></p>
            </div>
            <div class="row mb-3">
                <label for="book_desc" class="col-form-label col-2">Description</label>
                <div class="col-6">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam facere error quia similique ut aliquid quas qui esse cumque? Consequuntur, ea? Praesentium, accusantium inventore. Fugit, adipisci? Saepe ad quisquam aut!</p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <h1 class="mb-3">Users Who lIke This book:</h1>
            <div class="card mb-3">
                <div class="card-body">
                    <ul>
                        <li>User who likes this book</li>
                    </ul>
                </div>
            </div>
            <a class="btn btn-outline-primary" href="#">Add to Favorite</a>
        </div>
    </div>
{% endblock %}